/ConsoleApp2/.vs/ConsoleApp2/v16
/ConsoleApp2/ConsoleApp2/bin/Debug
/ConsoleApp2/ConsoleApp2/obj/Debug
/ConsoleApp2/packages
/WebApplication1/.vs/WebApplication1/v16
/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1/obj/Debug
/WebApplication1/packages
