@using WebApplication1.Models
@model HomeModel
@{
    ViewBag.Title = Model.Title;    
}

@using (Html.BeginForm())
{ 
    <div>
        @Html.DisplayNameFor(m => m.Title)
    </div>
    <div>
        @Html.EditorFor(m => m.Title)
        @Html.HiddenFor(m => m.Time)
    </div>
    <div>
        <input type="submit" value="Отправить" />
    </div>
}
<h2>@Model.Time</h2>

